<div class="container">


    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="my-card">
                <div class="container text-center">

                    <img class="image-fluid" style="width: 80px;" src="/assets/images/login.png">
                </div>
                <h1 class="text-center">Admin Login !!</h1>

                <form (ngSubmit)="adminLogin()">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input name="email"  [(ngModel)]="email" type="email" class="form-control"
                            aria-describedby="emailHelp" placeholder="Enter Admin Email" required="required">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control"
                            placeholder=" Enter Admin Password"  [(ngModel)]="password">
                    </div><br>

                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>


            </div>


        </div>

    </div>


</div>